body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {font-family: 'NanumSquare_Bold'; src: url('./components/css/font/NanumSquareB.ttf') format('truetype')}
@font-face {font-family: 'NanumSquare_Regular'; src: local("NanumSquare_Regular"), url('./components/css/font/NanumSquareR.ttf') format('truetype')}
@font-face {
  font-family: 'BinggraeSamanco';
  src: url('./components/css/font/BinggraeSamanco.ttf')
  format('truetype')
}
@font-face {
  font-family: 'NanumB';
  src: url('./components/css/font/NanumSquareB.ttf')
  format('truetype')
}
@font-face {
  font-family: 'NanumR';
  src: url('./components/css/font/NanumSquareR.ttf')
  format('truetype')
}